/* css cho phần main bên phải */
/* primary color: #0072bc 
    hover color: #0199fb
    input background color: #005082;
*/

body{
    font-family:Tahoma_Regular ;
    margin: 0;
    font-size: 13px;
}
.container{
    display: flex;
    position: relative;
}
@font-face{
    font-family: font_icon;
    src: url(/content/font/fontello.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Tahoma_Bold;
    src: url(/content/font/Tahoma_Bold.woff);
}
@font-face{
    font-family: Tahoma_Regular ;
    src: url(/content/font/Tahoma_Regular.woff);
}

.main{
    width: calc(100% - 200px);
    height: 100vh;
  
    /* overflow: hidden; */
    
}

.main .header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0072bc ;
}

.main .content{
    width: calc(100% - 20px);
    display: block;
    margin: 0;
    margin: 0px 10px;
    height: calc( 100vh - 50px);
}

/* css cho header */
.header  input{
    
    height: 28px;
    background-color: #005082;
    color: #ffffff;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    background-image: url(/content/img/button/default-small-arrow.png);
    background-repeat: no-repeat;
    background-position: 145px 8px;
}
.header .navbar{
    display: flex;
    height: 100%;
    align-items: center;
}

.header .select-store input{
    width: 180px;
    background-position: 165px 8px;
}
.header .select-language input{
    width: 160px;
    background-position: 145px 8px;
}
.navbar .navigation-icon{
    position: relative;
    cursor: pointer;
}
.navbar .navigation-icon i{
    color: #ffffff;
    font-size: 25px;
    margin: 0 20px;    
}
.navigation-icon .navigation-icon-count{
    width: 9px;
    height: 15px;
    padding: 1px 5px;
    line-height: 15px;
    margin: 0;
    top: -2px;
    right: 15px;
    background-color: #ff0000;
    color: #ffffff;
    position: absolute;
    border-radius: 3px;
}
.navbar .support{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    background-image: url(/content/img/ic_support.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -13px;
    cursor: pointer;
}
.navbar .user-info{
    display: flex;
    align-items: center;
    background-image: url(/content/img/button/default-small-arrow.png);
    background-repeat: no-repeat;
    background-position: 190px 20px;
    cursor: pointer;
}
.user-info .avatar{
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 50%;
    background-image: url(/content/img/EmployeeImage.png);
    background-repeat: no-repeat;
    background-position: 5px 5px ;
    margin: 0 10px;
}

.user-info .name{
    color: #ffffff;
    font-size: 16px;
    margin-right: 30px;
    
}