.button-common{
    
    border: 1px solid transparent;
    cursor: pointer !important;
    align-items:center;
    display: flex;
    justify-content: center; 
    outline: none;
}

.button-common:hover,.button-common:focus{  
    border: 1px solid #0199fb !important; 
}

.button-common p{
    height: 100%;
    line-height:23px;
    margin:0;
    padding:0;

}
input:focus{
    border-radius: 0px;
}
