/* responsive */

@media screen and (max-width: 1024px) {
    .sidebar, .main {
        position: relative;
    }

        .sidebar .logo {
            border-bottom: none;
        }

    .menu {
        /* position: absolute;
        top:50px;
        left: -200px; */
        transform: translate(-200px, 0px);
        transition: 1s;
    }

    .content {
        /* position: relative;
        top: 0px;
        left: -200px; */
        transform: translateX(-200px);
        width: calc(100vw - 20px) !important;
        transition: 1s;
    }
}
